div{
    background-color: antiquewhite;
    padding: 29px;
    margin: 2px;
}

p {
    background-color: rgb(252, 223, 186);
    padding: 30px;
    text-align: center;
    box-shadow: -2px -2px 5px rgb(210, 210, 210),1px 1px  rgb(120, 120, 120);
}
p:hover{

    box-shadow: -2px -2px 5px rgb(255, 186, 95),1px 1px  rgb(255, 145, 0);
}